<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item" >
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink="/addpost" *ngIf = "isloggedIn">Addpost</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink="/allposts" *ngIf = "isloggedIn">Allposts</a>
    </li>
  </ul>
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link"  routerLink="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/logout" *ngIf = "isloggedIn">Logout</a>
    </li>
  </ul>

</nav>
